* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bebas;

}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row nowrap;
    background: firebrick;
    height: 800px;
}

.flex-item {
    width: 100%;
    box-shadow: 1px 1px 75px 3px black;
    color: white;
    background: purple;
}

.flex-item:nth-child(1) {
    order: -3;
}

.flex-item:nth-child(2) {
    order: -4;
}

.flex-item:nth-child(3) {
    order: -1;
}

.flex-item:nth-child(4) {
    order: -2;
}