* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bebas;
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    background: firebrick;
    height: 640px;
}

.flex-item {
    background: purple;
    width: 33.33%;
    margin: 10px;
    box-shadow: 1px 1px 75px 3px black;
}