* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: bebas;
    font-size: 40px;
}

.grid {
    /* width: calc(100% + 30px); */
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-right: -30px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid div {
    background: orange;
    min-height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.grid div:nth-child(5) {
    background: orangered;
}